@model List<ContactListVM>
@{
    ViewData["Title"] = "GetAllContactList";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h5 class="card-title">Contact Us</h5>

<nav>
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
		<li class="breadcrumb-item active">Contact Us</li>
	</ol>
</nav>



<div class="card">
	<div class="card-body">
		<h5 class="card-title">Contact Us Table</h5>

		<!-- Table with hoverable rows -->
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Location</th>
					<th scope="col">Email</th>
					<th scope="col">Call</th>
					<th scope="col">Map</th>
					<th scope="col">Created Date</th>
					<th scope="col">Updated Date</th>
					<th scope="col">Edit</th>
					<th scope="col">Delete</th>
				</tr>
			</thead>
			@foreach (var item in Model)
			{
				<tbody>
					<tr>
						<td>@item.Location</td>
						<td>@item.Email</td>
						<td>@item.Call</td>
						@if(item.Map == null || item.Map == string.Empty)
						{
							<td>Not Assigned</td>
						}
						else
						{
							<td>Assigned</td>
						}
						<td>@item.CreatedDate</td>
						<td>@item.UpdatedDate</td>
						<td><a asp-area="Admin" asp-controller="Contact" asp-action="UpdateContact" asp-route-id="@item.Id" data-id="@item.Id" class="btn btn-outline-primary btn-sm">Edit</a></td>
						<td><a asp-area="Admin" asp-controller="Contact" asp-action="DeleteContact" asp-route-id="@item.Id" data-id="@item.Id" class="btn btn-outline-danger btn-sm">Delete</a></td>
					</tr>
				</tbody>
			}

		</table>
		<!-- End Table with hoverable rows -->
		<a asp-area="Admin" asp-controller="Contact" asp-action="AddContact" class="btn btn-outline-success btn-sm">Add Contact Us</a>

	</div>
</div>




